:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(32, 1, 28, 0.87);
  background-color: gainsboro;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  padding:8px;
  background-color: rgb(211, 5, 211);
  color: white;
  border: none;
  margin: 4px;
  border-radius: 8px;
  outline: none;

}

input{
  background-color: #fff;
  outline: none;
  border: none;
  border-bottom: 2px solid violet;
  color: black;
}

li{
  list-style-type: none;
  background-color: rgba(238, 130, 238, 0.184);
  padding: 4px 8px;
  border-radius: 10px;
  margin: 2vh 0;
}
li:has(+ *){
  background-color: rgb(160, 160, 240);
}